@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

.font-rancho {
    font-family: "Rancho", cursive;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.button {
    background-color: #E3B577;
    color: #242222;
    font-family: "Rancho", cursive;
    padding: 8px 24px;
    font-size: 1.5rem;
    border: 2px solid #E3B577;
    transition-duration: 500ms;
}

.button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.dark {
    color: #331A15;
    
}

.darker {
    color: #1B1A1A;
}


.input-focus:focus{
    outline: 2px solid #E3B577;
}


.add-btn {
    background-color: #E3B577;
    color: white;
    font-family: "Rancho", cursive;
    padding: 8px 24px;
    font-size: 1.5rem;
    border-radius: 6px;
    border: 2px solid #331A15;
    transition-duration: 500ms;
}

.add-btn:hover {
    background-color: #f5f4f1;
    border: 2px solid #331A15;
    color: #E3B577;
}

.submit{
    background-color: transparent;
    border: 2px solid #331A15;
    color: #331A15;
    font-family: "Rancho", cursive;
    padding: 8px 24px;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;